@keyframes background-animation {
  25% {
    background: rgba(24, 160, 58, 0.712);
  }
  100% {
    background: rgb(17, 95, 30);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.075);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
